			<a href="#/utilisateurs" class="btn btn-primary" title="Retour à la liste"><i class="glyphicon glyphicon-backward"></i></a>
			<div class="btn-group">							
				<a href="#/utilisateurs/{{utilisateur.id}}/edit" class="btn btn-primary" title="Modifier"><i class="glyphicon glyphicon-pencil"></i></a>
				<a href="#" class="btn btn-danger" ng-click="supprimer(utilisateur.id)" title="Supprimer"><i class="glyphicon glyphicon-trash"></i></a>
			</div>
			
			<form novalidate class="form-horizontal"">
			<div class="form-group">
				<label class="col-sm-2 control-label">Nom</label>
				<div class="col-sm-6">
				  <p class="form-control-static">{{utilisateur.nom}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Prenom</label>
				<div class="col-sm-6">
				  <p class="form-control-static">{{utilisateur.prenom}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Login</label>
				<div class="col-sm-6">
				  <p class="form-control-static">{{utilisateur.login}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Password</label>
				<div class="col-sm-6">
				  <p class="form-control-static">{{utilisateur.password}}</p>
				</div>
			</div>
			</form>

			
